---
---

@charset "utf-8";

$theme-blue: #306E9B;
$title-font: 'Space Mono';
$content-font: 'Open Sans';

body {
  font-family: $content-font, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 1.2em;
}

.headshot {
  max-width: 150px;
  border-radius: 50%;
}

.blog-header {
  border-top: 4px solid $theme-blue;
}

.site-header {
  color: $theme-blue;
  border-bottom: 2px solid $theme-blue;
  font-family: $title-font, monospace;
  font-style: italic;

  a.current {
    font-weight: bold;
  }

  .social-icon {
    fill: $theme-blue;
    height: 16px;
  }

  a.icon:hover {
    text-decoration: none;

    .social-icon {
      fill: #000;
    }
  }
}

.text-theme {
  color: $theme-blue!important;
}

a {
  color: $theme-blue!important;
}

.site-title {
  font-size: 2rem;
}

.site-links {
  font-size: 1.3rem;
}
